Debug/kruskal.exe
Debug/kruskal.ilk
Debug/kruskal.pdb
kruskal/Debug/BuildLog.htm
kruskal/Debug/Kruskal.obj
kruskal/Debug/kruskal.pch
kruskal/Debug/mt.dep
kruskal/Debug/stdafx.obj
kruskal/Debug/vc90.idb
kruskal/Debug/vc90.pdb